* {
    user-select: none;
}

.game {
    background-color: rgba(0, 0, 0, .2);
    width: 500px;
    height: 95vh;
}

.note {
    width: 100%;
    height: 80%;
}

.line {
    display: flex;
    flex-direction: row;
}

.key {
    width: 25%;
    background-color: white;
    text-align: center;
}
